@model IEnumerable<ConsoleApp1.BusCompanyData.BusCompany>
<h1>BusCompany List</h1>
<table>
    <thead>
        <tr>
            <th>客運業者</th>
            <th>電話</th>
            <th>地址</th>
            <th>服務時段</th>
            <th>申訴專線</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>@item.客運業者</td>
            <td>@item.電話</td>
            <td>@item.地址</td>
            <td>@item.服務時段</td>
            <td>@item.申訴專線</td>
        </tr>
            }
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>


@{ }
